.actionList{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin: 0 2rem 0 2rem;
}


@media (min-width: 300.99px) and (max-width: 575.98px){
    .actionList{
        margin: 0;
    }
}