.countryPage{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 0.5rem;
}

.countryPage__buttons{
    display: flex;
}

.countryPage__buttons button{
    padding: 0 0.6rem 0 0.6rem;
    border: none;
    margin-right: 0.5rem;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

.countryPage__buttons i{
    margin: 0.5rem;
    font-size: 1rem;
}

.countryPage__darkmode{
    color: white;
    background-color: #1a2833; 
    margin: 1.5rem;
    padding: 0.5rem;
}

@media (min-width: 300.99px) and (max-width: 575.98px){
    .countryPage{
        width: 300px;
        height: 400px;
        padding: 0;
        margin-top: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .countryPage__buttons button{
        box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.4);
    }
}