.countrySelected{
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}
.countrySelected__container{
    display: flex;
}

.countrySelected__container img{
    width: 600px;
    margin-right: 2rem;
}

.countrySelected__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.countrySelected__info strong{
    margin-right: 0.5rem;
}

