.filterSelect{
    padding: 0.5rem;
    border: none;
    box-shadow: 0 8px 6px -6px gray;

}

.filterBy__darkmode select{
    background-color: #1a2833;
    border: none;
    color: white;
}

.filterSelect select{
    border: none;
    color: black;
    font-size: 1rem;
}

@media (min-width: 300.99px) and (max-width: 575.98px){
    .filterSelect{
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    }
    .filterSelect select{
        font-size: 0.6rem;
    }
    .filterBy__darkmode select{
        font-size: 0.6rem;
    }
}

