.darkmode{
  color: black;
  color: white;
  background-color: #1a2833;
}


.app_container{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.app_search{
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  padding: 1rem 0 1rem 0;
}

.app_countrilist{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 300.99px) and (max-width: 575.98px){
  .app_container{
    margin-top: 2rem;
  }
}